:root {
  --color-palette-one: #b9d6f2;
  --color-palette-two: #9fc6ed;
  --color-palette-three: #3583f6;
  --color-palette-four: #082756;
  --color-palette-five: #061a40;

  /* Neutral */
  --color-palette-zero: #fbfdff;
  --color-palette-border: #0508ba;

  --color-palette-gray: #565d64;
  --color-palette-ghost: #849cb7b1;
  --color-palette-light-gray: #7a8b9c;
  --color-palette-accent: #0025a0;


  --gradient-from-light: #b9d6f2;
  --gradient-to-light: #b9d6f2;

  --color-success: #10b981;
  --color-warning: #f59e0b;
  --color-error: #ef4444;
  --color-info: #3b82f6;
}

.dark {
  --color-palette-one: #13232A;
  --color-palette-two: rgb(8, 56, 82);
  --color-palette-three: #0b004b;
  --color-palette-four: #80A4B7;
  --color-palette-five: #B8D9EB;

  --gradient-from-light: #13232A;
  --gradient-to-light: #13232A;
  --color-palette-accent: #04b8ff;

  --color-palette-border: #acfbe1;
  --color-palette-light-gray: #97a2ac;
  --color-palette-ghost: #565d64;

}
